/* RESET */
a {
  text-decoration: none;
  color: #333;
  cursor: url(../img/cursor-pointer.png), auto;
}

.clearfix::before,
.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* color */
/* font-family */
/* bold */
/* handwrite */
/* korean */
/* background */
body {
  width: 100vw;
  font-family: "Rubik", sans-serif, "Noto Sans KR", sans-serif;
  color: #333;
  cursor: url(../img/cursor-normal.png), auto;
}

/* #body-wrap */
#body-wrap {
  max-width: 100vw;
  background: url(../img/20grid_bg.png);
  text-shadow: none;
}

#body-wrap .box-shadow {
  -webkit-box-shadow: 5px 5px 5px #555;
          box-shadow: 5px 5px 5px #555;
}

#body-wrap .liner {
  padding: 5px;
  background-color: rgba(153, 136, 221, 0.2);
  border-right: 5px solid rgba(153, 136, 221, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body-wrap .title {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  position: relative;
  text-transform: uppercase;
}

#body-wrap .title p {
  width: 100%;
  position: absolute;
  left: calc(50% - 50%);
  top: 0;
  z-index: 1;
}

#body-wrap .underline {
  width: 80%;
  height: 50px;
  background: url(../img/underline.png) repeat-x bottom;
  position: absolute;
  left: calc(50% - 40%);
  top: calc(100% - 25px);
}

/* #wrap */
#wrap {
  margin: 0 auto;
  max-width: 1200px;
}

/*
            Device : Viewport      (Pixel Size)
          iPad Pro : 1024 * 1366  (2048 * 2732)
               iPad : 768 * 1024    (1536 * 2048)
         iPad Mini : 768 * 1024   (768 * 1024)
         iPhone X : 375 * 812     (1125 * 2436)
   iPhone X max : 414 * 896     (1242 * 2688)
iPhone 6~8 Plus : 414 * 736     (1080 * 1920)
      iPhone 6~8 : 375 * 667     (750 * 1334)

   Galaxy Note 9 : 360 * 740    (1440 * 2960)
       Galaxy S9+ : 360 * 740    (1440 * 2960)
         Galaxy S9 : 360 * 740    (1440 * 2960)
*/
/* iPad Pro */
@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    display: none;
  }
  #info .info-bg .circle {
    top: 10%;
    left: 20%;
  }
  #info .info-bg .info-box {
    max-width: 600px;
    left: calc(50% - 300px);
  }
  #info .info-bg .info-box .namebox {
    left: 50%;
  }
  #info .info-bg .info-box .info-box-inner {
    font-size: 0.9rem;
    padding: 130px 50px;
  }
  /* iPad #info */
  #wrap {
    /* iPad #skill */
  }
  #wrap #skill .skill-inner .dongbaek {
    top: 5%;
    right: 25%;
  }
  #wrap #skill .skill-inner .skill-list {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    top: 150px;
  }
  #wrap #skill .skill-inner .skill-list .skill-sub .graph {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  #wrap #skill .skill-inner .skill-list .skill-sub span.liner {
    top: 190px;
  }
  /* iPad #wrap */
  #portfolio .port-inner .port-list {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    top: 170px;
  }
  #portfolio .port-inner .port-list .port-list-sub .polaroid {
    max-width: 100%;
    height: 200px;
  }
  #portfolio .port-inner .port-list .port-list-sub .polaroid .port-text {
    bottom: 3%;
  }
  #portfolio .port-inner .port-list .port-list-sub .polaroid .port-text p {
    margin-top: 2px;
  }
  #portfolio .port-inner .tab-btn {
    background: #fff;
    z-index: 10;
    padding-bottom: 10px;
    top: 50px;
    width: 80%;
    left: calc(50% - 40%);
  }
  /* iPad #portfolio */
}

/* iPad */
/* Mobile */
@media (max-width: 700px) {
  #body-wrap .title {
    font-size: 2rem;
  }
  #body-wrap .underline {
    height: 30px;
  }
  /* Mobile #body-wrap */
  #info .info-bg {
    top: -10%;
  }
  #info .info-bg .circle {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    top: calc(50% - 300px);
    left: 30%;
  }
  #info .info-bg .namebox {
    -webkit-transform: scale(0.6) rotate(-15deg);
            transform: scale(0.6) rotate(-15deg);
    top: calc(50% - 170px);
    left: 40%;
  }
  #info .info-bg .info-box {
    max-width: 340px;
    max-height: 350px;
    left: calc(50% - 170px);
    top: calc(50% - 150px);
  }
  #info .info-bg .info-box .achon-face {
    display: none;
  }
  #info .info-bg .info-box .info-box-inner {
    font-size: 0.7rem;
    padding: 70px 0px;
    line-height: 1.7;
  }
  #info .info-bg .info-box .info-box-inner p {
    padding: 5px 5px;
  }
  #info .info-bg .info-box .info-box-inner p:first-child {
    margin-bottom: 10px;
  }
  #info .info-bg .info-box .info-box-inner p span:first-child {
    padding-right: 10px;
  }
  /* Mobile #info */
  #wrap {
    /* Mobile #skill */
    /* Mobile #portfolio */
  }
  #wrap #skill .skill-inner .dongbaek {
    -webkit-transform: scale(0.3) rotate(-10deg);
            transform: scale(0.3) rotate(-10deg);
    top: 3%;
    right: 50%;
  }
  @-webkit-keyframes dong_bounce {
    50% {
      -webkit-transform: scale(0.3) rotate(-15deg);
              transform: scale(0.3) rotate(-15deg);
    }
    100% {
      -webkit-transform: scale(0.3) rotate(-10deg);
              transform: scale(0.3) rotate(-10deg);
    }
  }
  @keyframes dong_bounce {
    50% {
      -webkit-transform: scale(0.3) rotate(-15deg);
              transform: scale(0.3) rotate(-15deg);
    }
    100% {
      -webkit-transform: scale(0.3) rotate(-10deg);
              transform: scale(0.3) rotate(-10deg);
    }
  }
  #wrap #skill .skill-inner .skill-list {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    top: 100px;
  }
  #wrap #skill .skill-inner .skill-list .skill-sub .graph {
    max-width: 100px;
    max-height: 100px;
    border-width: 20px;
  }
  #wrap #skill .skill-inner .skill-list .skill-sub .graph .per {
    font-size: 1.3;
  }
  #wrap #skill .skill-inner .skill-list .skill-sub span.liner {
    top: 100px;
    max-width: 100px;
    left: calc(50% - 48px);
    font-size: 0.8rem;
  }
  #wrap #portfolio .port-inner .angae {
    -webkit-transform: scale(0.3) rotate(45deg);
            transform: scale(0.3) rotate(45deg);
    right: -35%;
    top: -13%;
  }
  @-webkit-keyframes angae_bounce {
    50% {
      -webkit-transform: scale(0.3) rotate(40deg);
              transform: scale(0.3) rotate(40deg);
    }
    100% {
      -webkit-transform: scale(0.3) rotate(45deg);
              transform: scale(0.3) rotate(45deg);
    }
  }
  @keyframes angae_bounce {
    50% {
      -webkit-transform: scale(0.3) rotate(40deg);
              transform: scale(0.3) rotate(40deg);
    }
    100% {
      -webkit-transform: scale(0.3) rotate(45deg);
              transform: scale(0.3) rotate(45deg);
    }
  }
  #wrap #portfolio .port-inner .port-list {
    top: 130px;
  }
  #wrap #portfolio .port-inner .port-list .port-list-sub .polaroid {
    max-width: 100%;
    height: 150px;
  }
  #wrap #portfolio .port-inner .port-list .port-list-sub .polaroid::before {
    height: 20px;
  }
  #wrap #portfolio .port-inner .port-list .port-list-sub .polaroid .port-text {
    font-size: 0.8rem;
  }
  #wrap #portfolio .port-inner .port-list .port-list-sub .polaroid .port-text p {
    font-size: 0.6rem;
  }
  #wrap #portfolio .port-inner .tab-btn {
    top: 20px;
    width: 80%;
    font-size: 0.5rem;
  }
  #wrap #portfolio .port-inner .tab-btn li span {
    padding: 10px 6px 10px 2px;
  }
  /* Mobile #wrap*/
  #contact .cont-sub {
    width: 400px;
    height: 300px;
    top: 0px;
    left: calc(50% - 200px);
  }
  #contact .cont-sub::before {
    top: 230px;
  }
  #contact .cont-sub::after {
    top: -130px;
  }
  #contact .cont-sub .cont-inner .kakaoqr {
    display: none;
  }
  #contact .cont-sub .cont-inner .cont-text li span.left {
    width: 45%;
    font-size: 0.8rem;
  }
  #contact .cont-sub .cont-inner .cont-text li span.right {
    width: 55%;
    font-size: 0.7rem;
  }
  #contact .cont-sub .cont-inner .cont-text::before {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    bottom: -65px;
    right: -38px;
  }
  #contact .cont-sub .cont-inner .cont-text::after {
    border-top-width: 180px;
    border-left-width: 90px;
    border-right-width: 110px;
  }
  /* Mobile #contact */
  #loading .container .heart {
    width: 300px;
  }
  /* Mobile #loading */
}
