#footer {
    position: absolute;
    bottom: 30px;
    right: 110px;
    text-align: right;
    font-size: 0.8rem;
    color: #555;
    line-height: 1.5;

    span {
        font-weight: bolder;
    }
}
