@mixin page-reset($page-height: 100vh) {
    margin: 0 auto;
    max-width: 80%;
    height: $page-height;
    position: relative;
}

@mixin page-inner($position: relative, $inner-height: 90vh) {
    max-width: 100%;
    height: $inner-height;
    background-color: #fff;
    padding-top: 50px;
    position: $position;
    z-index: 1;
}

@mixin shadow($color: #555) {
    box-shadow: 5px 5px 5px $color;
}

@mixin body($bgimg: url(../img/20grid_bg.png)) {
    max-width: 100vw;
    // height: $body-height;
    background: $bgimg;
    text-shadow: none;
}

@mixin liner($liner-bg: $liner-bg-color1, $liner-border: $liner-border-color1) {
    padding: 5px;
    background-color: $liner-bg;
    border-right: $liner-border;
    box-sizing: border-box;
}

@mixin title {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    position: relative;
    text-transform: uppercase;
}

@mixin underline($under: url(../img/underline.png)) {
    width: 80%;
    height: 50px;
    background: $under repeat-x bottom;
    position: absolute;
    left: calc(50% - 40%);
    top: calc(100% - 25px);
}

// @mixin list-layout($columns) {
@mixin list-layout {
    // display: grid;
    // grid-gap: 1em;
    // @include grid-template-columns($columns);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    top: 200px;
    padding: 10px;
    margin: 0 auto;
    justify-items: center;
    position: absolute;
    width: 80%;
    height: calc(80% - 70px);
    left: calc(50% - 40%);
    box-sizing: border-box;
}

// @mixin grid-template-columns($columns...) {
//     -ms-grid-columns: $columns;
//     grid-template-columns: $columns;
// }

// @mixin calc($ctop: 50%, $tminus: 50%, $cleft: 50%, $lminus: 50%) {
//     top: calc($ctop - $tminus);
//     left: calc($cleft - $lminus);
// }
@mixin calct($ctop: 50%, $tminus: 50%) {
    top: calc($ctop - $tminus);
}
