/* #portfolio */
#portfolio {
    @include page-reset;

    .port-inner {
        @include page-inner;

        .tab-btn {
            display: flex;
            justify-content: space-around;
        }

        .port-list {
            display: grid;

            .port-list-sub {
                .polaroid {
                    width: 30%;
                    height: 300px;

                    @include shadow(#aaa);

                    .port-thum {
                    }
                    .port-text {
                    }
                }
            }
        }
    }
}
