@import 'mixin';

/* #portfolio */
#portfolio {
    @include page-reset;

    .port-inner {
        @include page-inner;

        .tab-btn {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 60px;
            width: 80%;
            left: calc(50% - 40%);
            font-size: 1.5rem;
            font-weight: bolder;
            text-transform: uppercase;
        }

        .port-list {
            @include list-layout(repeat(2, 1fr));
            overflow-y: scroll;

            .port-list-sub {
                position: relative;
                margin: 10px auto;
                text-align: center;
                width: 100%;

                .polaroid {
                    max-width: 80%;
                    height: 300px;
                    position: relative;
                    border: 1px solid #eee;
                    @include shadow(#aaa);
                    text-transform: uppercase;

                    .port-thum {
                        width: 80%;
                        height: 60%;
                        background: #000;
                        position: absolute;
                        left: calc(50% - 40%);
                        top: 10%;
                        overflow: hidden;
                        border: 1px solid #ddd;

                        .port-th-sub {
                            position: absolute;
                            width: 100%;
                            height: 100px;
                            line-height: 100px;
                            top: calc(50% - 50px);
                            left: calc(50% - 50%);
                            color: #fff;
                            font-weight: bolder;
                            display: none;
                        }

                        &:hover img {
                            opacity: 0.7;
                        }
                        &:hover .port-th-sub {
                            display: block;
                        }

                        img {
                            width: 100%;
                            float: left;
                        }
                    }
                    .port-text {
                        position: absolute;
                        width: 100%;
                        bottom: 15%;
                        text-align: center;
                        left: calc(50% - 50%);
                        font-weight: bolder;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
