@import 'mixin';

/* #portfolio */
#portfolio {
    @include page-reset;

    .port-inner {
        @include page-inner;

        .angae {
            position: absolute;
            right: -5%;
            top: -7%;
            transform: scale(0.5) rotate(45deg);
            animation: angae_bounce 1s infinite ease-in-out;
        }

        @keyframes angae_bounce {
            50% {
                transform: scale(0.5) rotate(40deg);
            }
            100% {
                transform: scale(0.5) rotate(45deg);
            }
        }

        .tab-btn {
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            position: relative;
            top: 60px;
            width: 80%;
            left: calc(50% - 40%);
            font-size: 1.5rem;
            font-weight: bolder;
            text-transform: uppercase;
            cursor: url(../img/cursor-pointer.png), auto;

            &:active {
                cursor: url(../img/cursor-active.png) 0 32, auto;
            }

            li {
                overflow: hidden;

                span {
                    position: relative;
                    padding: 10px;

                    &:hover::before {
                        left: 0;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: -100%;
                        transition: all 0.5s;
                    }
                }

                &.all span {
                    &::before {
                        @include liner($liner-bg-color1, $liner-border-color1);
                    }
                }
                &.copy span {
                    &::before {
                        @include liner($liner-bg-color2, $liner-border-color2);
                    }
                }

                &.design span {
                    &::before {
                        @include liner($liner-bg-color3, $liner-border-color3);
                    }
                }

                &.etc span {
                    &::before {
                        @include liner($liner-bg-color4, $liner-border-color4);
                    }
                }
            }
        }

        .port-list {
            @include list-layout(repeat(2, 1fr));
            overflow-y: scroll;
            background: $pink;
            padding-top: 10px;
            border-top: 30px solid $pink;
            border-bottom: 30px solid $pink;
            @include shadow(#ddd);

            .port-list-sub {
                position: relative;
                text-align: center;
                width: 100%;

                .polatape {
                    width: 70%;
                    height: 40px;
                    line-height: 40px;
                    position: absolute;
                    top: -20px;
                    left: calc(50% - 35%);
                    font-weight: bolder;
                    // font-size: 1.5rem;
                    font-size: 0;
                    color: #fff;
                }

                &.copy .polaroid::before {
                    background-image: url(../img/tape.png);
                }
                &.design .polaroid::before {
                    background-image: url(../img/tape2.png);
                }
                &.etc .polaroid::before {
                    background-image: url(../img/tape3.png);
                }

                .polaroid {
                    margin: 10px auto;
                    max-width: 80%;
                    height: 300px;
                    position: relative;
                    border: 1px solid #eee;
                    @include shadow(#aaa);
                    text-transform: uppercase;
                    background: #fff;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 30%;
                        height: 30px;
                        top: -10px;
                        left: calc(50% - 15%);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: cover;
                        transform: rotate(-15deg);
                        opacity: 0.7;
                        z-index: 99;
                    }
                    // tape

                    .port-thum {
                        width: 80%;
                        height: 60%;
                        position: absolute;
                        left: calc(50% - 40%);
                        top: 10%;
                        overflow: hidden;
                        border: 1px solid #ddd;
                        align-content: center;

                        .port-th-sub {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            line-height: 1.5;
                            top: calc(50% - 50%);
                            left: calc(50% - 50%);
                            color: #fff;
                            opacity: 0;
                            transition: all 0.5s;

                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                        }

                        &::before {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: #000;
                            position: absolute;
                            top: 0;
                            left: -100%;
                            z-index: 5;
                            transition: all 0.5s;
                            opacity: 0.5;
                        }
                        //hover

                        &:hover::before {
                            left: 0;
                        }

                        &:hover .port-th-sub {
                            opacity: 1;
                            z-index: 99;
                        }

                        img {
                            width: 100%;
                            float: left;
                        }
                    }

                    .port-text {
                        position: absolute;
                        width: 100%;
                        bottom: 5%;
                        text-align: center;
                        left: calc(50% - 50%);
                        font-weight: bolder;
                        font-size: 1.5rem;
                        font-family: $handwite;

                        p {
                            margin-top: 10px;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
