@import 'mixin';

/* RESET */
a {
    text-decoration: none;
    color: #333;
    cursor: url(../img/cursor-pointer.png), auto;
}
.clearfix::before,
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
.left {
    float: left;
}
.right {
    float: right;
}

/* color */
$pink: #fde;
$hotpink: #f5989d;
$purple: #98d;

$liner-bg-color1: rgba(153, 136, 221, 0.2);
$liner-bg-color2: rgba(211, 132, 154, 0.2);
$liner-bg-color3: rgba(132, 211, 173, 0.2);
$liner-bg-color4: rgba(255, 187, 0, 0.2);
$liner-border-color1: 5px solid rgba(153, 136, 221, 0.3);
$liner-border-color2: 5px solid rgba(211, 132, 154, 0.3);
$liner-border-color3: 5px solid rgba(132, 211, 173, 0.3);
$liner-border-color4: 5px solid rgba(255, 187, 0, 0.3);

/* font-family */
/* bold */
$rubik: 'Rubik', sans-serif;
/* handwrite */
$handwite: 'Shadows Into Light', cursive;
/* korean */
$notoSans: 'Noto Sans KR', sans-serif;

/* background */
$grid: url(../img/20grid_bg.png), auto;
$body-height: 100%;

body {
    width: 100vw;
    height: $body-height;
    font-family: $rubik, $notoSans;
    color: #333;
    cursor: url(../img/cursor-normal.png), auto;
}

/* #body-wrap */
#body-wrap {
    @include body;
    // @include shadow(#777);

    .box-shadow {
        @include shadow;
    }

    .liner {
        @include liner;
    }

    .title {
        @include title;

        p {
            width: 100%;
            position: absolute;
            left: calc(50% - 50%);
            top: 0;
            z-index: 1;
        }
    }
    .underline {
        @include underline;
    }
}

/* #wrap */
#wrap {
    margin: 0 auto;
    max-width: 1200px;
}
