@import 'mixin';

/* RESET */
a {
    text-decoration: none;
    color: #333;
}
.clearfix::before,
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
.left {
    float: left;
}
.right {
    float: right;
}

/* color */
$pink: #fde;
$hotpink: #f5989d;
$purple: #98d;
// $liner-bg: rgba(153, 136, 221, 0.2);
$liner-border: 7px solid rgba(153, 136, 221, 0.3);

/* font-family */
/* bold */
$rubik: 'Rubik', sans-serif;
$chango: 'Chango', cursive;
$ericaOne: 'Erica One', cursive;
/* slant */
$badScript: 'Bad Script', cursive;
$cedarvilleCursive: 'Cedarville Cursive', cursive;
$Caveat: 'Caveat', cursive;
$homemadeApple: 'Homemade Apple', cursive;
$permanentMarker: 'Permanent Marker', cursive;
/* korean */
$doHyeon: 'Do Hyeon', sans-serif;
$notoSans: 'Noto Sans KR', sans-serif;

/* background */
$grid: url(../img/20grid_bg.png);

body {
    width: 100vw;
    height: 300vh;
    font-family: $rubik, $notoSans;
    color: #333;
}

/* #body-wrap */
#body-wrap {
    @include body;

    .box-shadow {
        @include shadow;
    }

    .liner {
        @include liner;
    }

    .title {
        @include title;

        p {
            width: 100%;
            position: absolute;
            left: calc(50% - 50%);
            top: 0;
            z-index: 1;
        }
    }
    .underline {
        @include underline;
    }
}

/* #wrap */
#wrap {
    margin: 0 auto;
    max-width: 1200px;
}
