@import 'reset', 'mixin';

.side {
    width: 140px;
    position: absolute;
    top: 20px;
    right: -140px;

    .index {
        li {
            // transform: rotate(-15deg);
            cursor: url(../img/cursor-pointer.png), auto;
            height: 40px;
            padding: 0 20px;
            margin-bottom: 10px;
            box-sizing: border-box;
            position: relative;
            display: flex;
            align-items: center;
            text-transform: uppercase;

            &.on span {
                border-top: 20px solid $hotpink;
                border-bottom: 20px solid $hotpink;
                border-left: 0px solid $hotpink;
            }

            &.on p {
                color: #fff;
            }

            p {
                position: absolute;
                z-index: 1;
            }

            span {
                line-height: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                box-sizing: border-box;
                border-top: 20px solid $pink;
                border-right: 20px solid transparent;
                border-bottom: 20px solid $pink;
                border-left: 0px solid $pink;
            }
        }
    }
}
