@import 'mixin', 'reset';

/*
            Device : Viewport      (Pixel Size)
          iPad Pro : 1024 * 1366  (2048 * 2732)
               iPad : 768 * 1024    (1536 * 2048)
         iPad Mini : 768 * 1024   (768 * 1024)
         iPhone X : 375 * 812     (1125 * 2436)
   iPhone X max : 414 * 896     (1242 * 2688)
iPhone 6~8 Plus : 414 * 736     (1080 * 1920)
      iPhone 6~8 : 375 * 667     (750 * 1334)

   Galaxy Note 9 : 360 * 740    (1440 * 2960)
       Galaxy S9+ : 360 * 740    (1440 * 2960)
         Galaxy S9 : 360 * 740    (1440 * 2960)
*/

/* iPad Pro */
@media (max-width: 1200px) {
    ::-webkit-scrollbar {
        display: none;
    }

    #info {
        .info-bg {
            .circle {
                top: 10%;
                left: 20%;
            }
            .info-box {
                max-width: 600px;
                left: calc(50% - 300px);

                .namebox {
                    left: 50%;
                }

                .info-box-inner {
                    font-size: 0.9rem;
                    padding: 130px 50px;
                }
            }
        }
    }
    /* iPad #info */

    #wrap {
        #skill {
            .skill-inner {
                .dongbaek {
                    top: 5%;
                    right: 25%;
                }

                .skill-list {
                    @include grid-template-columns(repeat(2, 1fr));
                    top: 150px;

                    .skill-sub {
                        .graph {
                            transform: scale(0.7);
                        }
                        span.liner {
                            top: 190px;
                        }
                    }
                }
            }
        }
        /* iPad #skill */
    }
    /* iPad #wrap */

    #portfolio {
        .port-inner {
            .port-list {
                @include grid-template-columns(repeat(2, 1fr));
                top: 170px;

                .port-list-sub {
                    .polaroid {
                        max-width: 100%;
                        height: 200px;

                        .port-text {
                            bottom: 3%;

                            p {
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }

            .tab-btn {
                background: #fff;
                z-index: 10;
                padding-bottom: 10px;
                top: 50px;
                width: 80%;
                left: calc(50% - 40%);
            }
        }
    }
    /* iPad #portfolio */
}
/* iPad */

/* Mobile */
@media (max-width: 700px) {
    #body-wrap {
        .title {
            font-size: 2rem;
        }
        .underline {
            height: 30px;
        }
    }
    /* Mobile #body-wrap */

    #info {
        .info-bg {
            top: -10%;

            .circle {
                transform: scale(0.5);
                top: calc(50% - 300px);
                left: 30%;
            }

            .namebox {
                transform: scale(0.6) rotate(-15deg);
                top: calc(50% - 170px);
                left: 40%;
            }

            .info-box {
                max-width: 340px;
                max-height: 350px;
                left: calc(50% - 170px);
                top: calc(50% - 150px);

                .achon-face {
                    display: none;
                }

                .info-box-inner {
                    font-size: 0.7rem;
                    padding: 70px 0px;
                    line-height: 1.7;

                    p {
                        padding: 5px 5px;

                        &:first-child {
                            margin-bottom: 10px;
                        }
                        span {
                            &:first-child {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Mobile #info */

    #wrap {
        #skill {
            .skill-inner {
                .dongbaek {
                    transform: scale(0.3) rotate(-10deg);
                    top: 3%;
                    right: 50%;
                }

                @keyframes dong_bounce {
                    50% {
                        transform: scale(0.3) rotate(-15deg);
                    }
                    100% {
                        transform: scale(0.3) rotate(-10deg);
                    }
                }

                .skill-list {
                    @include grid-template-columns(repeat(2, 1fr));
                    padding-top: 30px;
                    top: 100px;

                    .skill-sub {
                        .graph {
                            max-width: 100px;
                            max-height: 100px;
                            border-width: 20px;

                            .per {
                                font-size: 1.3;
                            }
                        }
                        span.liner {
                            top: 100px;
                            max-width: 100px;
                            left: calc(50% - 48px);
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        /* Mobile #skill */

        #portfolio {
            .port-inner {
                .angae {
                    transform: scale(0.3) rotate(45deg);
                    right: -35%;
                    top: -13%;
                }

                @keyframes angae_bounce {
                    50% {
                        transform: scale(0.3) rotate(40deg);
                    }
                    100% {
                        transform: scale(0.3) rotate(45deg);
                    }
                }

                .port-list {
                    top: 130px;

                    .port-list-sub {
                        .polaroid {
                            max-width: 100%;
                            height: 150px;

                            &::before {
                                height: 20px;
                            }
                            // tape

                            .port-text {
                                font-size: 0.8rem;

                                p {
                                    font-size: 0.6rem;
                                }
                            }
                        }
                    }
                }

                .tab-btn {
                    top: 20px;
                    width: 80%;
                    font-size: 0.5rem;

                    li {
                        span {
                            padding: 10px 6px 10px 2px;
                        }
                    }
                }
            }
        }
        /* Mobile #portfolio */
    }
    /* Mobile #wrap*/

    #contact {
        .cont-sub {
            width: 400px;
            height: 300px;
            top: 0px;
            left: calc(50% - 200px);

            &::before {
                top: 230px;
            }
            &::after {
                top: -130px;
            }

            .cont-inner {
                .kakaoqr {
                    display: none;
                }

                .cont-text {
                    li {
                        span.left {
                            width: 45%;
                            font-size: 0.8rem;
                        }

                        span.right {
                            width: 55%;
                            font-size: 0.7rem;
                        }
                    }

                    &::before {
                        transform: scale(0.5);
                        bottom: -65px;
                        right: -38px;
                    }

                    &::after {
                        border-top-width: 180px;
                        border-left-width: 90px;
                        border-right-width: 110px;
                    }
                }
            }
        }
    }
    /* Mobile #contact */

    #loading {
        .container {
            .heart {
                width: 300px;
            }
        }
    }
    /* Mobile #loading */
}
