@import 'mixin', 'reset', 'popup-portfolio-m';

/*
            Device : Viewport      (Pixel Size)
          iPad Pro : 1024 * 1366  (2048 * 2732)
               iPad : 768 * 1024    (1536 * 2048)
         iPad Mini : 768 * 1024   (768 * 1024)
         iPhone X : 375 * 812     (1125 * 2436)
   iPhone X max : 414 * 896     (1242 * 2688)
iPhone 6~8 Plus : 414 * 736     (1080 * 1920)
      iPhone 6~8 : 375 * 667     (750 * 1334)

   Galaxy Note 9 : 360 * 740    (1440 * 2960)
       Galaxy S9+ : 360 * 740    (1440 * 2960)
         Galaxy S9 : 360 * 740    (1440 * 2960)
*/

/* iPad Pro */
@media (max-width: 1200px) {
    ::-webkit-scrollbar {
        display: none;
    }

    #info {
        .info-bg {
            .circle {
                top: 10%;
                left: 20%;
            }
            .info-box {
                max-width: 600px;
                left: calc(50% - 300px);

                .namebox {
                    left: 50%;
                }

                .info-box-inner {
                    font-size: 0.9rem;
                    padding: 130px 50px;
                }
            }
        }
    }
    /* iPad #info */

    #skill {
        .skill-inner {
            @include page-inner(relative, 80vh);
            // top: 10vh;

            .dongbaek {
                top: 5%;
                right: 25%;
            }

            .skill-list {
                // @include grid-template-columns(repeat(2, 1fr));

                top: 120px;

                .skill-sub {
                    width: 50%;

                    .graph {
                        transform: scale(0.7);
                    }
                    span.liner {
                        top: 190px;
                    }
                }
            }
        }
    }
    /* iPad #skill */

    #portfolio {
        .port-inner {
            @include page-inner(relative, 80vh);
            // top: 10vh;

            .tab-btn {
                background: #fff;
                z-index: 10;
                padding-bottom: 10px;
                top: 50px;
                width: 80%;
                left: calc(50% - 40%);
                font-size: 1.1rem;
            }

            .port-list {
                // @include grid-template-columns(repeat(2, 1fr));
                top: 170px;

                .port-list-sub {
                    width: 100%;
                    // height: 400px;

                    .polaroid {
                        max-width: 100%;
                        height: 100%;

                        .port-text {
                            bottom: 3%;

                            p {
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* iPad #portfolio */

    .side {
        width: 300px;
        // top: 5%;
        top: -50px;
        right: 20px;
        // border: 1px solid orange;

        .index {
            display: flex;
            justify-content: space-around;
            justify-items: center;
            align-items: center;

            li {
                text-align: center;
                margin: 0;
                padding: 20px;
                font-size: 0;
                transform: rotate(-90deg);
                width: 100%;

                &.on {
                    left: 0;

                    a {
                        font-size: 0;
                    }
                }

                a {
                    font-size: 0;
                }
            }
        }
    }
    /* iPad .side*/

    // #portfolio-popup {
    //     .pp-sub {
    //         width: 100%;
    //         height: 45%;
    //         border: 1px solid red;

    //         &.pp-sub-img {
    //             img {
    //             }
    //         }
    //         //.pp-sub-img

    //         &.pp-sub-wrap {
    //             .pp-sub-inner {
    //                 width: 80%;
    //                 padding: 0px;

    //                 .pp-title {
    //                     font-size: 1.5rem;
    //                 }
    //                 //.pp-title

    //                 .pp-subtitle {
    //                     font-size: 1rem;
    //                 }
    //                 //.pp-subtitle

    //                 .pp-sub-text {
    //                     font-size: 0.9rem;
    //                     margin: 20px 0;
    //                 }
    //                 //.pp-sub-text

    //                 .pp-subtext {
    //                     line-height: 1.5;

    //                     .pp-subtext-title {
    //                         font-size: 0.9rem;
    //                     }
    //                     .pp-subtext-sub {
    //                         font-size: 0.8rem;
    //                     }
    //                 }
    //                 //.pp-subtext

    //                 .pp-button {
    //                     .pp-button-view {
    //                         width: 80px;
    //                         height: 25px;
    //                         font-size: 0.8rem;

    //                         &.view-website {
    //                         }
    //                         &.view-code {
    //                         }
    //                     }
    //                     //.pp-button-view
    //                 }
    //                 //.pp-button
    //             }
    //             //.pp-sub-inner
    //         }
    //         //.pp-sub-wrap
    //     }

    //     .pp-button-close {
    //     }
    // }
    // /* iPad #portfolio-popup */
}
/* iPad */

/* Mobile */
@media (max-width: 700px) {
    #body-wrap {
        .title {
            font-size: 2rem;
        }
        .underline {
            height: 30px;
        }
    }
    /* Mobile #body-wrap */

    #info {
        .info-bg {
            top: -10%;

            .circle {
                transform: scale(0.5);
                top: calc(50% - 300px);
                left: 30%;
            }

            .namebox {
                transform: scale(0.6) rotate(-15deg);
                top: calc(50% - 170px);
                left: 40%;
            }

            .info-box {
                max-width: 340px;
                max-height: 350px;
                left: calc(50% - 170px);
                top: calc(50% - 150px);

                .achon-face {
                    display: none;
                }

                .info-box-inner {
                    font-size: 0.7rem;
                    padding: 70px 0px;
                    line-height: 1.7;

                    p {
                        padding: 5px 5px;

                        &:first-child {
                            margin-bottom: 10px;
                        }
                        span {
                            &:first-child {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Mobile #info */

    #skill {
        .skill-inner {
            .dongbaek {
                transform: scale(0.3) rotate(-10deg);
                top: 3%;
                right: 50%;
            }

            @keyframes dong_bounce {
                50% {
                    transform: scale(0.3) rotate(-15deg);
                }
                100% {
                    transform: scale(0.3) rotate(-10deg);
                }
            }

            .skill-list {
                // @include grid-template-columns(repeat(2, 1fr));
                padding-top: 30px;
                top: 100px;

                .skill-sub {
                    .graph {
                        max-width: 100px;
                        max-height: 100px;
                        border-width: 20px;

                        .per {
                            font-size: 1.3;
                        }
                    }
                    span.liner {
                        top: 100px;
                        max-width: 100px;
                        left: calc(50% - 48px);
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    /* Mobile #skill */

    #portfolio {
        .port-inner {
            .angae {
                transform: scale(0.3) rotate(45deg);
                right: -35%;
                top: -13%;
            }

            @keyframes angae_bounce {
                50% {
                    transform: scale(0.3) rotate(40deg);
                }
                100% {
                    transform: scale(0.3) rotate(45deg);
                }
            }

            .tab-btn {
                top: 10px;
                width: 80%;
                font-size: 0.8rem;
                flex-wrap: wrap;

                li {
                    width: 50%;
                    display: flex;
                    align-items: center;

                    span {
                        padding: 5px 8px 5px 4px;
                    }
                }
            }

            .port-list {
                top: 150px;
                border-top: none;
                margin-top: 5px;

                .port-list-sub {
                    height: 50%;

                    .polaroid {
                        max-width: 100%;
                        height: 180px;

                        &::before {
                            height: 20px;
                        }
                        // tape

                        .port-text {
                            font-size: 0.8rem;

                            p {
                                font-size: 0.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Mobile #portfolio */

    #contact {
        .cont-sub {
            width: 400px;
            height: 300px;
            top: -50px;
            left: calc(50% - 200px);

            &::before {
                top: 230px;
            }
            &::after {
                top: -130px;
            }

            .cont-inner {
                .kakaoqr {
                    display: none;
                }

                .cont-text {
                    li {
                        span.left {
                            width: 45%;
                            font-size: 0.8rem;
                        }

                        span.right {
                            width: 55%;
                            font-size: 0.7rem;
                        }
                    }

                    &::before {
                        transform: scale(0.5);
                        bottom: -65px;
                        right: -38px;
                    }

                    &::after {
                        border-top-width: 180px;
                        border-left-width: 90px;
                        border-right-width: 110px;
                    }
                }
            }
        }
    }
    /* Mobile #contact */

    #loading {
        .container {
            .heart {
                width: 300px;
            }
        }
    }
    /* Mobile #loading */

    .side {
        transform: scale(0.7);
        right: -40px;
        top: -30px;
    }
    /* iPad .side*/
}
