@import 'mixin';

/*
iPad Pro : 1024 * 1366
iPad : 768 * 1024
iPhone X : 375 * 812
iPhone 6~8 Plus : 414 * 736
iPhone 6~8 : 375 * 667
Galaxy S5 : 360 * 640
*/

/* iPad Pro */
@media (max-width: 1200px) {
    ::-webkit-scrollbar {
        display: none;
    }

    #info {
        .info-bg {
            .circle {
                top: 10%;
                left: 20%;
            }
            .info-box {
                max-width: 600px;
                left: calc(50% - 300px);

                .namebox {
                    left: 50%;
                }

                .info-box-inner {
                    font-size: 1.3rem;
                    padding: 170px 50px;
                }
            }
        }
    }

    #wrap {
        #skill {
            .skill-inner {
                .dongbaek {
                    top: 5%;
                    right: 25%;
                }

                .skill-list {
                    @include grid-template-columns(repeat(2, 1fr));
                    top: 150px;

                    .skill-sub {
                        .graph {
                            transform: scale(0.7);
                        }
                        span.liner {
                            top: 190px;
                        }
                    }
                }
            }
        }
    }

    #portfolio {
        .port-inner {
            .port-list {
                @include grid-template-columns(repeat(2, 1fr));
                top: 170px;

                .port-list-sub {
                    .polaroid {
                        max-width: 100%;
                        height: 200px;

                        .port-text {
                            bottom: 3%;

                            p {
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }

            .tab-btn {
                background: #fff;
                z-index: 10;
                padding-bottom: 10px;
                top: 50px;
                width: 80%;
                left: calc(50% - 40%);
            }
        }
    }
}

/* Mobile */
@media (max-width: 700px) {
    #body-wrap {
        .title {
            font-size: 2rem;
        }
        .underline {
            height: 30px;
        }
    }

    #info {
        .info-bg {
            top: -10%;

            .circle {
                transform: scale(0.6);
                top: calc(50% - 270px);
                left: 30%;
            }

            .namebox {
                transform: scale(0.6) rotate(-15deg);
                top: calc(50% - 130px);
                left: 40%;
            }

            .info-box {
                max-width: 300px;
                max-height: 300px;
                left: calc(50% - 150px);
                top: calc(50% - 100px);

                .achon-face {
                    display: none;
                }

                .info-box-inner {
                    font-size: 0.9rem;
                    padding: 60px 10px;
                    p {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }

    #wrap {
        #skill {
            .skill-inner {
                .dongbaek {
                    transform: scale(0.3) rotate(-10deg);
                    top: 3%;
                    right: 50%;
                }

                @keyframes dong_bounce {
                    50% {
                        transform: scale(0.3) rotate(-15deg);
                    }
                    100% {
                        transform: scale(0.3) rotate(-10deg);
                    }
                }

                .skill-list {
                    @include grid-template-columns(repeat(2, 1fr));
                    padding-top: 30px;
                    top: 100px;

                    .skill-sub {
                        .graph {
                            max-width: 100px;
                            max-height: 100px;
                            border-width: 20px;

                            .per {
                                font-size: 1.3;
                            }
                        }
                        span.liner {
                            top: 100px;
                            max-width: 100px;
                            left: calc(50% - 48px);
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        #portfolio {
            .port-inner {
                .angae {
                    transform: scale(0.3) rotate(45deg);
                    right: -35%;
                    top: -13%;
                }

                @keyframes angae_bounce {
                    50% {
                        transform: scale(0.3) rotate(40deg);
                    }
                    100% {
                        transform: scale(0.3) rotate(45deg);
                    }
                }
                .port-list {
                    top: 130px;

                    .port-list-sub {
                        .polaroid {
                            max-width: 100%;
                            height: 150px;

                            .port-text {
                                font-size: 0.8rem;

                                p {
                                    font-size: 0.6rem;
                                }
                            }
                        }
                    }
                }

                .tab-btn {
                    top: 20px;
                    width: 80%;
                    font-size: 0.6rem;
                }
            }
        }
    }
}
